<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DashboardTracker</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DashboardTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar" style="background-color: #003781;">
                <div class="position-sticky pt-10">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white @ViewData["ActivePage"] == " Services" ? "active" : "" " href="@Url.Action("Index", "Home")">
                                Services
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @ViewData["ActivePage"] == " Apps" ? "active" : "" " href="@Url.Action("Apps", "Home")">
                                Apps
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @ViewData["ActivePage"] == " APIs" ? "active" : "" " href="@Url.Action("Apis", "Home")">
                                APIs
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                            @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
