@{
    ViewData["Title"] = "Home Page";
}

@model DashboardTracker.Models.JobViewModel

<h1>Jobs</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Job URL</th>
            <th>Interval</th>
            <th>Status</th>
            <!-- Add other columns as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.Jobs)
        {
            <tr>
                <td>@job.id</td>
                <td>@job.name</td>
                <td>@job.jobUrl</td>
                <td>@job.interval</td>
                <td>@job.status</td>
                <!-- Add other columns as needed -->
            </tr>
        }
    </tbody>
</table>